# Statistical Methods in Pandas - Lab

## Introduction

In this lesson you'll get some hands on experience using some of the key summary statistics methods in Pandas.

## Objectives:
You will be able to:

* Understand and use the df.describe() and df.info() summary statistics methods
* Use built-in Pandas methods for calculating summary statistics (.mean(), .std(), .count(), .sum(), .mean(), .median(), .std(), .var() and .quantile())
* Apply a function to every element in a Series or DataFrame using s.apply() and df.applymap()


## Getting Started

For this lab, we'll be working with a dataset containing information on various lego datasets.  You will find this dataset in the file `lego_sets.csv`.  

In the cell below:

* Import pandas and set the standard alias of `pd`
* Load in the `lego_sets.csv`dataset using the `read_csv()` function
* Display the head of the DataFrame to get a feel for what we'll be working with

In [2]:
import pandas as pd
df = pd.read_csv('lego_sets.csv')
df.head()

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_desc,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,val_star_rating,country
0,6-12,29.99,2.0,277.0,4.0,Catapult into action and take back the eggs fr...,75823.0,Use the staircase catapult to launch Red into ...,Average,Bird Island Egg Heist,4.5,Angry Birds™,4.0,US
1,6-12,19.99,2.0,168.0,4.0,Launch a flying attack and rescue the eggs fro...,75822.0,Pilot Pig has taken off from Bird Island with ...,Easy,Piggy Plane Attack,5.0,Angry Birds™,4.0,US
2,6-12,12.99,11.0,74.0,4.3,Chase the piggy with lightning-fast Chuck and ...,75821.0,Pitch speedy bird Chuck against the Piggy Car....,Easy,Piggy Car Escape,4.3,Angry Birds™,4.1,US
3,12+,99.99,23.0,1032.0,3.6,Explore the architecture of the United States ...,21030.0,Discover the architectural secrets of the icon...,Average,United States Capitol Building,4.6,Architecture,4.3,US
4,12+,79.99,14.0,744.0,3.2,Recreate the Solomon R. Guggenheim Museum® wit...,21035.0,Discover the architectural secrets of Frank Ll...,Challenging,Solomon R. Guggenheim Museum®,4.6,Architecture,4.1,US

## Getting DataFrame-Level Statistics

We'll begin by getting some overall summary statistics on the dataset.  There are two ways we'll get this information-- `.info()` and `.describe()`.

### Using `.info()`

The `.info()` method provides us metadata on the DataFrame itself.  This allows to answer questions such as:

* What data type does each column contain?
* How many rows are in my dataset? 
* How many total non-missing values does each column contain?
* How much memory does the DataFrame take up?

In the cell below, call our DataFrame's `.info()` method.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 14 columns):
ages                 12261 non-null object
list_price           12261 non-null float64
num_reviews          10641 non-null float64
piece_count          12261 non-null float64
play_star_rating     10486 non-null float64
prod_desc            11884 non-null object
prod_id              12261 non-null float64
prod_long_desc       12261 non-null object
review_difficulty    10206 non-null object
set_name             12261 non-null object
star_rating          10641 non-null float64
theme_name           12258 non-null object
val_star_rating      10466 non-null float64
country              12261 non-null object
dtypes: float64(7), object(7)
memory usage: 1.3+ MB

#### Interpreting the Results

Read the output above, and then answer the following questions:

How many total rows are in this DataFrame?  How many columns contain numeric data? How many contain categorical data?  Identify at least 3 columns that contain missing values. 

Write your answer below this line:
________________________________________________________________________________________________________________________________

In [4]:
df.columns

Index(['ages', 'list_price', 'num_reviews', 'piece_count', 'play_star_rating',
       'prod_desc', 'prod_id', 'prod_long_desc', 'review_difficulty',
       'set_name', 'star_rating', 'theme_name', 'val_star_rating', 'country'],
      dtype='object')

In [5]:
df.count

<bound method DataFrame.count of        ages  list_price  num_reviews  piece_count  play_star_rating  \
0      6-12     29.9900          2.0        277.0               4.0
1      6-12     19.9900          2.0        168.0               4.0
2      6-12     12.9900         11.0         74.0               4.3
3       12+     99.9900         23.0       1032.0               3.6
4       12+     79.9900         14.0        744.0               3.2
5       12+     59.9900          7.0        597.0               3.7
6       12+     59.9900         37.0        598.0               3.7
7       12+     49.9900         24.0        780.0               4.4
8       12+     39.9900         23.0        468.0               3.6
9       12+     39.9900         11.0        444.0               3.6
10      12+     39.9900         14.0        386.0               4.1
11      12+     34.9900         53.0        321.0               3.2
12      12+     29.9900          7.0        361.0               4.2
13     7-12    159.9900         63.0        847.0               3.8
14      10+     29.9900         13.0        708.0               4.7
15      10+     19.9900          1.0        234.0               3.0
16      10+     19.9900          1.0        160.0               5.0
17      10+      9.9900          1.0        149.0               2.0
18      10+      9.9900          1.0        141.0               2.0
19      10+      9.9900          3.0        101.0               4.0
20      10+      9.9900          2.0        105.0               3.0
21      10+      9.9900          1.0        113.0               5.0
22      10+      9.9900          1.0        136.0               NaN
23      10+      9.9900          2.0         91.0               3.0
24      10+      9.9900          7.0        140.0               3.2
25      10+      9.9900          5.0        143.0               4.6
26      10+      9.9900          3.0        122.0               2.7
27      10+      9.9900          5.0        130.0               4.3
28      10+      9.9900          3.0        119.0               4.5
29      10+      9.9900          1.0        135.0               1.0
...     ...         ...          ...          ...               ...
12231  7-14     48.7878          5.0        267.0               3.6
12232  7-14     48.7878         12.0        293.0               4.9
12233  8-14     42.6878         24.0        305.0               4.5
12234  7-14     42.6878         18.0        254.0               4.2
12235  7-14     30.4878          2.0        198.0               4.0
12236  7-14     30.4878          8.0        204.0               4.1
12237  7-14     30.4878         19.0        201.0               4.1
12238  6-12     18.2878          7.0        141.0               4.0
12239  6-12     18.2878         18.0        124.0               4.5
12240    5+      4.8678         13.0          8.0               4.3
12241  8-14    103.6878          9.0        643.0               4.4
12242   16+    365.9878         88.0       4867.0               4.8
12243  9-14    225.6878         52.0       2295.0               4.7
12244  9-14    134.1878         15.0       1403.0               4.5
12245  9-14    103.6878          9.0        830.0               4.6
12246  9-14    103.6878         11.0       1202.0               4.7
12247  9-14     97.5878          6.0        914.0               4.8
12248  9-14     97.5878         19.0        944.0               3.6
12249  9-14     82.9478          8.0        876.0               4.7
12250  8-14     73.1878          8.0        747.0               4.3
12251  8-14     60.9878          7.0        521.0               4.7
12252  8-14     60.9878         29.0        544.0               4.6
12253  8-14     48.7878         21.0        494.0               4.6
12254  7-14     36.5878         10.0        312.0               3.5
12255  8-14     36.5878          8.0        341.0               4.2
12256  7-14     36.5878          6.0        341.0               4.4
12257  7-14     24.3878          8.0        217.0               4.1
12258  7-14     24.3878         18.0        233.0               4.6
12259  6-14     12.1878          1.0         48.0               5.0
12260  6-14     12.1878         11.0        109.0               4.5

                                               prod_desc  prod_id  \
0      Catapult into action and take back the eggs fr...  75823.0
1      Launch a flying attack and rescue the eggs fro...  75822.0
2      Chase the piggy with lightning-fast Chuck and ...  75821.0
3      Explore the architecture of the United States ...  21030.0
4      Recreate the Solomon R. Guggenheim Museum® wit...  21035.0
5      Celebrate Shanghai with this LEGO® Architectur...  21039.0
6      Celebrate New York City with this LEGO® Archit...  21028.0
7      Recreate Buckingham Palace with LEGO® Architec...  21029.0
8      Celebrate London with this LEGO® Architecture ...  21034.0
9      Celebrate Chicago with this LEGO® Architecture...  21033.0
10       Experience the grandeur of the Arc de Triomphe!  21036.0
11     Build your own LEGO® interpretation of the ico...  21019.0
12     Celebrate Sydney with this LEGO® Architecture ...  21032.0
13                   Bring your LEGO® creations to life!  17101.0
14         Build a LEGO® BrickHeadz version of yourself!  41597.0
15     Train a raptor with LEGO® BrickHeadz™ Owen and...  41614.0
16     Join Mr. Incredible and Frozone for LEGO® Bric...  41613.0
17     Growl like a Wookiee with a LEGO® BrickHeadz™ ...  41609.0
18     Be a rogue with a LEGO® BrickHeadz™ constructi...  41608.0
19     Save the universe with LEGO® BrickHeadz Iron M...  41604.0
20     Feel the power of Infinity with LEGO® BrickHea...  41605.0
21     Be a legendary outlaw with LEGO® BrickHeadz St...  41606.0
22     Master the skills of a green-skinned assassin ...  41607.0
23     Join the Resistance with a LEGO® BrickHeadz co...  41485.0
24     Say “I love you” with a LEGO® BrickHeadz™ Vale...  40270.0
25       Stand tall with LEGO® BrickHeadz Wonder Woman™!  41599.0
26     Live life in the fast lane with LEGO® BrickHea...  41598.0
27     Summon the dark side with a LEGO® BrickHeadz c...  41603.0
28     Feel the Force with a LEGO® BrickHeadz constru...  41602.0
29               Dive in with LEGO® BrickHeadz Aquaman™!  41600.0
...                                                  ...      ...
12231               Party on with Superman™ and friends!  70919.0
12232              Join Batman™ in a comical food fight!  70920.0
12233  Put the heat on The Penguin™ Arctic Roller wit...  70911.0
12234  Battle with Batman™ against The Riddler™ and h...  70903.0
12235  Bring down Captain Boomerang™ with Batman’s Ba...  70918.0
12236  Help Batman™ to stop Scarecrow™ delivering a s...  70910.0
12237  Protect the power plant from Mr. Freeze’s ice ...  70901.0
12238  Power into the sky to stop Scarecrow’s fear ga...  70913.0
12239             Help Batman™ stop The Joker™ escaping!  70900.0
12240  Discover new heroes and villains in LEGO® Mini...  71020.0
12241           Launch a space mission from the Batcave!  70923.0
12242         Live the life of a ninja in NINJAGO® City!  70620.0
12243            Join the ninja aboard Wu’s flying ship!  70618.0
12244                 Evade the traps inside the Temple!  70617.0
12245  Defend NINJAGO® City from Garmadon Shark Mech ...  70656.0
12246   Turn sound into a weapon with Cole’s Quake Mech!  70632.0
12247       Take on the shark army with Zane’s Ice Tank!  70616.0
12248  Put the heat on the shark army with Kai’s Fire...  70615.0
12249      Speed to the rescue with Jay’s Lightning Jet!  70614.0
12250      Defend NINJAGO® City against Garma Mecha Man!  70613.0
12251       Get all fired up at Garmadon’s Volcano Lair!  70631.0
12252  Take on Garmadon with the Green Ninja Mech Dra...  70612.0
12253  Smash the shark army out of the water with the...  70611.0
12254  Battle against evil Jungle Garmadon on the jun...  70608.0
12255  Take on the tentacular Flying Jelly Sub with Jay!  70610.0
12256  Protect NINJAGO® City from flying Manta Ray Bo...  70609.0
12257         Stop a Piranha Attack with Kai and Misako!  70629.0
12258   Stop a crime in the NINJAGO® City street market!  70607.0
12259  Achieve Spinjitzu greatness with the Green Ninja!  70628.0
12260  Practice your Spinjitzu skills with Kai and Zane!  70606.0

                                          prod_long_desc review_difficulty  \
0      Use the staircase catapult to launch Red into ...           Average
1      Pilot Pig has taken off from Bird Island with ...              Easy
2      Pitch speedy bird Chuck against the Piggy Car....              Easy
3      Discover the architectural secrets of the icon...           Average
4      Discover the architectural secrets of Frank Ll...       Challenging
5      Recreate Shanghai in China's blend of historic...           Average
6      Celebrate the architectural diversity of New Y...           Average
7      Build a LEGO® brick model of London's official...           Average
8      Celebrate the architectural diversity of Londo...           Average
9      Recreate Chicago’s blend of historical and mod...           Average
10     Capture the architectural elegance of one of t...           Average
11     Presenting the LEGO® Architecture interpretati...           Average
12     Capture the architectural essence and splendor...              Easy
13     Take your LEGO® play to the next level with th...           Average
14     Fuel your creativity by making a LEGO® BrickHe...           Average
15     These LEGO® BrickHeadz™ 41614 Owen & Blue cons...              Easy
16     These LEGO® BrickHeadz™ 41613 Mr. Incredible &...         Very Easy
17     This LEGO® BrickHeadz™ 41609 Chewbacca is fun ...         Very Easy
18     This LEGO® BrickHeadz™ 41608 Han Solo is fun t...         Very Easy
19     This Iron Man MK50 LEGO® BrickHeadz constructi...           Average
20     This Thanos LEGO® BrickHeadz construction char...              Easy
21     This Star-Lord LEGO® BrickHeadz construction c...              Easy
22     This Gamora LEGO® BrickHeadz construction char...               NaN
23     This LEGO® BrickHeadz construction character f...              Easy
24     Build your way to someone’s heart and say “Bee...              Easy
25     This Wonder Woman™ LEGO® BrickHeadz constructi...              Easy
26     The Flash™ LEGO® BrickHeadz construction chara...         Very Easy
27     This LEGO® BrickHeadz construction character f...              Easy
28     This LEGO® BrickHeadz construction character f...              Easy
29     This Aquaman™ LEGO® BrickHeadz construction ch...         Very Easy
...                                                  ...               ...
12231  Recreate the hilarious scene from THE LEGO® BA...              Easy
12232  Help Batman™ fend off Egghead™ and Condiment K...           Average
12233  Join Batman’s pursuit of The Penguin in THE LE...              Easy
12234  Take on four Super-Villains at once in THE LEG...              Easy
12235  Glide over bumps in the Gotham City streets an...               NaN
12236  Save Gotham City Energy Facility from a fear g...           Average
12237  Help Batman™ defend the Gotham City Energy Fac...              Easy
12238  Team up with Batman™ to stop Scarecrow™ spread...              Easy
12239  Stage a face-off between The Joker™ and Batman...              Easy
12240  Bring exciting new play possibilities to exist...         Very Easy
12241  Take off from the Batcave in The Bat-Space Shu...           Average
12242  Enjoy endless role-play fun in NINJAGO® City, ...       Challenging
12243  Construct Wu’s huge ninja training base, Desti...       Challenging
12244  Join a ninja mission to infiltrate THE LEGO® N...           Average
12245  Help Lloyd to save Nomis and Nancy from Garmad...           Average
12246  Fire ‘soundwaves’ from Cole’s Quake Mech to sa...           Average
12247  Help Zane save Patty Keys and Torben from the ...           Average
12248  Get set for sizzling battle action with this h...           Average
12249  Save Ed and Edna from the shark army’s crab wi...           Average
12250  Help Lloyd protect civilian Pat from attack by...           Average
12251  Join Zane’s mission to infiltrate evil Garmado...           Average
12252  Outwit The Green Ninja’s evil father Garmadon ...           Average
12253  Launch into battle against the shark army and ...           Average
12254  Team up with Wu and Kai to take on Jungle Garm...              Easy
12255  Join ninja Jay in battle against the shark arm...           Average
12256  Help Cole save Shen-Li in this cool THE LEGO® ...              Easy
12257  Play out an action-packed Piranha Mech pursuit...              Easy
12258  Team up with Lloyd Garmadon, Nya and Officer T...              Easy
12259  Learn all the skills of Spinjitzu with THE LEG...         Very Easy
12260  Join the ninja heroes at the dojo with this ac...              Easy

                                     set_name  star_rating  \
0                       Bird Island Egg Heist          4.5
1                          Piggy Plane Attack          5.0
2                            Piggy Car Escape          4.3
3              United States Capitol Building          4.6
4               Solomon R. Guggenheim Museum®          4.6
5                                    Shanghai          4.9
6                               New York City          4.2
7                           Buckingham Palace          4.7
8                                      London          4.7
9                                     Chicago          4.8
10                            Arc de Triomphe          4.4
11                           The Eiffel Tower          4.6
12                                     Sydney          4.6
13                     BOOST Creative Toolbox          3.4
14                                Go Brick Me          4.8
15                                Owen & Blue          5.0
16                   Mr. Incredible & Frozone          5.0
17                                 Chewbacca™          3.0
18                                  Han Solo™          4.0
19                              Iron Man MK50          4.7
20                                     Thanos          5.0
21                                  Star-Lord          5.0
22                                     Gamora          5.0
23                                       Finn          4.5
24                            Valentine's Bee          4.9
25                              Wonder Woman™          5.0
26                                 The Flash™          4.0
27                                  Kylo Ren™          5.0
28                                        Rey          5.0
29                                   Aquaman™          4.0
...                                       ...          ...
12231   The Justice League™ Anniversary Party          3.2
12232                Egghead™ Mech Food Fight          4.8
12233              The Penguin™ Arctic Roller          4.8
12234               The Riddler™ Riddle Racer          4.2
12235                      The Bat-Dune Buggy          4.5
12236             Scarecrow™ Special Delivery          4.4
12237                  Mr. Freeze™ Ice Attack          4.6
12238             Scarecrow™ Fearful Face-off          4.1
12239               The Joker™ Balloon Escape          4.7
12240         THE LEGO® BATMAN MOVIE Series 2          4.8
12241                   The Bat-Space Shuttle          4.8
12242                           NINJAGO® City          4.9
12243                        Destiny's Bounty          4.9
12244  Temple of The Ultimate Ultimate Weapon          4.8
12245           garmadon, Garmadon, GARMADON!          4.9
12246                              Quake Mech          4.5
12247                                Ice Tank          4.8
12248                               Fire Mech          4.2
12249                           Lightning Jet          5.0
12250                         Garma Mecha Man          4.5
12251                 Garmadon's Volcano Lair          4.3
12252                 Green Ninja Mech Dragon          4.7
12253                           Water Strider          4.5
12254                            Master Falls          4.0
12255                        Flying Jelly Sub          4.6
12256                        Manta Ray Bomber          4.3
12257                          Piranha Attack          3.6
12258                     NINJAGO® City Chase          4.6
12259                Lloyd - Spinjitzu Master          5.0
12260                      Spinjitzu Training          4.7

                      theme_name  val_star_rating country
0                   Angry Birds™              4.0      US
1                   Angry Birds™              4.0      US
2                   Angry Birds™              4.1      US
3                   Architecture              4.3      US
4                   Architecture              4.1      US
5                   Architecture              4.4      US
6                   Architecture              4.1      US
7                   Architecture              4.3      US
8                   Architecture              4.1      US
9                   Architecture              4.5      US
10                  Architecture              3.6      US
11                  Architecture              4.4      US
12                  Architecture              4.2      US
13                         BOOST              3.5      US
14                    BrickHeadz              4.8      US
15                    BrickHeadz              5.0      US
16                    BrickHeadz              5.0      US
17                    BrickHeadz              4.0      US
18                    BrickHeadz              4.0      US
19                    BrickHeadz              4.5      US
20                    BrickHeadz              5.0      US
21                    BrickHeadz              5.0      US
22                    BrickHeadz              NaN      US
23                    BrickHeadz              4.0      US
24                    BrickHeadz              4.7      US
25                    BrickHeadz              5.0      US
26                    BrickHeadz              3.0      US
27                    BrickHeadz              4.8      US
28                    BrickHeadz              4.5      US
29                    BrickHeadz              3.0      US
...                          ...              ...     ...
12231     THE LEGO® BATMAN MOVIE              3.4      PT
12232     THE LEGO® BATMAN MOVIE              4.6      PT
12233     THE LEGO® BATMAN MOVIE              4.4      PT
12234     THE LEGO® BATMAN MOVIE              4.4      PT
12235     THE LEGO® BATMAN MOVIE              4.0      PT
12236     THE LEGO® BATMAN MOVIE              4.1      PT
12237     THE LEGO® BATMAN MOVIE              4.4      PT
12238     THE LEGO® BATMAN MOVIE              4.4      PT
12239     THE LEGO® BATMAN MOVIE              4.6      PT
12240                Minifigures              4.0      PT
12241     THE LEGO® BATMAN MOVIE              3.5      PT
12242  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12243  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12244  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12245  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12246  THE LEGO® NINJAGO® MOVIE™              4.4      PT
12247  THE LEGO® NINJAGO® MOVIE™              4.7      PT
12248  THE LEGO® NINJAGO® MOVIE™              4.6      PT
12249  THE LEGO® NINJAGO® MOVIE™              4.6      PT
12250  THE LEGO® NINJAGO® MOVIE™              4.5      PT
12251  THE LEGO® NINJAGO® MOVIE™              5.0      PT
12252  THE LEGO® NINJAGO® MOVIE™              4.5      PT
12253  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12254  THE LEGO® NINJAGO® MOVIE™              3.6      PT
12255  THE LEGO® NINJAGO® MOVIE™              4.5      PT

In [6]:
df.play_star_rating

0        4.0
1        4.0
2        4.3
3        3.6
4        3.2
5        3.7
6        3.7
7        4.4
8        3.6
9        3.6
10       4.1
11       3.2
12       4.2
13       3.8
14       4.7
15       3.0
16       5.0
17       2.0
18       2.0
19       4.0
20       3.0
21       5.0
22       NaN
23       3.0
24       3.2
25       4.6
26       2.7
27       4.3
28       4.5
29       1.0
        ...
12231    3.6
12232    4.9
12233    4.5
12234    4.2
12235    4.0
12236    4.1
12237    4.1
12238    4.0
12239    4.5
12240    4.3
12241    4.4
12242    4.8
12243    4.7
12244    4.5
12245    4.6
12246    4.7
12247    4.8
12248    3.6
12249    4.7
12250    4.3
12251    4.7
12252    4.6
12253    4.6
12254    3.5
12255    4.2
12256    4.4
12257    4.1
12258    4.6
12259    5.0
12260    4.5
Name: play_star_rating, Length: 12261, dtype: float64

In [8]:
# Answers:
# Total Rows: 12261
# 7 columns contain numeric data (floats)
# 7 columns contain categorical data (strings, listed as objects)
# The num_reviews, review_difficulty, and play_star_rating columns contain null or missing values
# 1.3 MB of memory

Answer question here...

## Using `.describe()`

Whereas `.info()` provides statistics about the DataFrame itself, `.describe()` returns output containing basic summary statistics about the data contained with the DataFrame.  

In the cell below, call the DataFrame's `.describe()` method.

In [9]:
df.describe()

,list_price,num_reviews,piece_count,play_star_rating,prod_id,star_rating,val_star_rating
count,12261.000000,10641.000000,12261.000000,10486.000000,1.226100e+04,10641.000000,10466.000000
mean,65.141998,16.826238,493.405921,4.337641,5.983675e+04,4.514134,4.228960
std,91.980429,36.368984,825.364580,0.652051,1.638115e+05,0.518865,0.660282
min,2.272400,1.000000,1.000000,1.000000,6.300000e+02,1.800000,1.000000
25%,19.990000,2.000000,97.000000,4.000000,2.103400e+04,4.300000,4.000000
50%,36.587800,6.000000,216.000000,4.500000,4.206900e+04,4.700000,4.300000
75%,70.192200,13.000000,544.000000,4.800000,7.092200e+04,5.000000,4.700000
max,1104.870000,367.000000,7541.000000,5.000000,2.000431e+06,5.000000,5.000000

#### Interpreting the Results

The output contains descriptive statistics corresponding to the columns.  Use these to answer the following questions:

How much is the standard deviation for piece count?  How many pieces are in the largest lego set?  How many in the smallest lego set? What is the median `val_star_rating`?

________________________________________________________________________________________________________________________________

Answer questions here...

In [10]:
# Answers
# the standard deviation for piece_count is 825.36458
# there are 7541 total pieces in the largest lego set
# 1 piece in the smallest lego set
# the median val_star_rating is 4.3

## Getting Summary Statistics

Pandas also allows us to easily compute individual summary statistics using built-in methods.  Next, we'll get some practice using these methods. 

In the cell below, compute the median value of the `star_rating` column.

In [11]:
df.star_rating.median()

4.7

Next, get a count of the total number of values in `play_star_rating`.

In [12]:
df.play_star_rating.count()

10486

Now, compute the standard deviation of the `list_price` column.

In [13]:
df.list_price.std()

91.9804293059252

If we bought every single lego set in this dataset, how many pieces would we have?  Use the `.sum()` method on the correct column to compute this.

In [14]:
df.piece_count.sum()

6049650.0

Now, let's try getting the value for the 90% quantile.  Do this in the cell below.

In [15]:
df.piece_count.quantile(.9)

1077.0

## Getting Summary Statistics on Categorical Data

For obvious reasons, most of the methods we've used so far only work with numerical data--there's no way to calculate the standard deviation of a column containing string values. However, there are some things that we can discover about columns containing categorical data. 

In the cell below, get the `.unique()` values contained within the `review_difficulty` column.

In [16]:
df.review_difficulty.unique()

array(['Average', 'Easy', 'Challenging', 'Very Easy', nan,
       'Very Challenging'], dtype=object)

Now, let's get the `value_counts` for this column, to see how common each is.

In [17]:
df.review_difficulty.value_counts()

Easy                4236
Average             3765
Very Easy           1139
Challenging         1058
Very Challenging       8
Name: review_difficulty, dtype: int64

As you can see, these provide us quick and easy ways to get information on columns containing categorical information.  


## Using `.applymap()`

When working with pandas DataFrames, we can quickly compute functions on the data contained by using the `applymap()` function and passing in a lambda function. 

For instance, we can use `applymap()` to return a version of the DataFrame where every value has been converted to a string.

In the cell below:

* Call our DataFrame's `.applymap()` function and pass in `lambda x: str(x)`
* Call our new `string_df` object's `.info()` method to confirm that everything has been cast to a string

In [18]:
string_df = df.applymap(lambda x: str(x))
string_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 14 columns):
ages                 12261 non-null object
list_price           12261 non-null object
num_reviews          12261 non-null object
piece_count          12261 non-null object
play_star_rating     12261 non-null object
prod_desc            12261 non-null object
prod_id              12261 non-null object
prod_long_desc       12261 non-null object
review_difficulty    12261 non-null object
set_name             12261 non-null object
star_rating          12261 non-null object
theme_name           12261 non-null object
val_star_rating      12261 non-null object
country              12261 non-null object
dtypes: object(14)
memory usage: 1.3+ MB

Note that everything--even the `NaN` values, have been cast to a string in the example above. 

Note that for pandas Series objects (such as a single column in a DataFrame), we can do the same thing using the `apply()` method.  

This is just one example of how we can quickly compute custom functions on our DataFrame--this will become especially useful when we learn how to **_normalize_** our datasets in a later section!

# Conclusion

In this lab, we learned how to:

* Understand and use the df.describe() and df.info() summary statistics methods
* Use built-in Pandas methods for calculating summary statistics (.mean(), .std(), .count(), .sum(), .mean(), .median(), .std(), .var() and .quantile())
* Apply a function to every element in a Series or DataFrame using s.apply() and df.applymap()